<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template1">
<head>

</head>
<body>
<div layout:fragment="content1">
    <div class="container">
        <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
        <br>
        <br>
        <div class="card-header" th:class="btn">LISTE DES CLIENTS</div>
        <div class="card-body">
            <form method="get" th:action="@{/index}" class="mb-3">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                <input type="text" name="keyword" th:field="${keyword}">
                <button type="submit" class="btn btn-wheat">Chercher</button>
            </form>
    <h1>CHECK LIST</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Client</th>
            <th>Date arrivée</th>
            <th>Date départ</th>
            <th>Statut</th>
            <th>Petit Déjeuner</th>
            <th>Nombre de Personnes</th>
            <th>Commentaire</th>
            <th>Adresse</th>
            <th>Chambre</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="uneReservation : ${reservations}">
            <td th:text="${uneReservation.utilisateur?.nom+' '+uneReservation.utilisateur?.prenom}"></td>
            <td th:text="${uneReservation.dateArrivee}"></td>
            <td th:text="${uneReservation.dateDepart}"></td>
            <td th:text="${uneReservation.statut}"></td>
            <td th:text="${uneReservation.pdj}"></td>
            <td th:text="${uneReservation.nbrePersonne}"></td>
            <td th:text="${uneReservation.commentaire}"></td>
            <td th:text="${uneReservation.utilisateur.adresse}"></td>
            <td>
                <div th:each="uneChambre : ${uneReservation.chambres}" th:text="${uneChambre.numero}"></div>
            </td>
            <td>
                <form th:action="@{/delete}" method="get">
                    <input type="hidden" name="id" th:value="${uneReservation.id}"/>
                    <input type="hidden" name="keyword" th:value="${keyword}" />
                    <input type="hidden" name="page" th:value="${currentPage}" />
                    <button onclick="return confirm('Etes vous sur de vouloir supprimer cette reservation?')" class="btn btn-wheat"
                            type="submit">Supprime</button>
                </form>
                <form th:action="@{/admin/reservation/depart}" method="post">
                    <input type="hidden" name="idReservation" th:value="${uneReservation.id}">
                    <button class="btn btn-danger">Signaler Départ</button>
                </form>
                <a th:href="'/editClient?id=' + ${uneReservation.id} + '&keyword=' + ${keyword} + '&page=' + ${currentPage}"
                   class="btn btn-wheat">Modifier</a>
            </td>
        </tr>
        </tbody>
    </table>
            <ul class="pagination">
                <li th:each="page, status : ${pages}">
                    <a th:class="${status.index==currentPage ? 'btn btn-wheat' : 'btn btn-outline-wheat'}"
                       th:text="${status.index}"
                       th:href="@{/index(page=${status.index}, keyword=${keyword})}"></a>
                </li>
            </ul>
    </div>
</div>
</div>
</body>
</html>








