
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template1">
<head>
    &lt;!&ndash; ... (les balises meta et autres en-têtes) ... &ndash;&gt;
</head>
<body>
<div layout:fragment="content1">
    <h1>CHECK LIST</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Client</th>
            <th>Date arrivée</th>
            <th>Date départ</th>
            <th>Statut</th>
            <th>Petit Déjeuner</th>
            <th>Nombre de Personnes</th>
            <th>Commentaire</th>
            <th>Adresse</th>
            <th>Chambre</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="uneReservation : ${reservations}">
            <td th:text="${uneReservation.utilisateur?.nom+' '+uneReservation.utilisateur?.prenom}"></td>
            <td th:text="${uneReservation.dateArrivee}"></td>
            <td th:text="${uneReservation.dateDepart}"></td>
            <td th:text="${uneReservation.statut}"></td>
            <td th:text="${uneReservation.pdj}"></td>
            <td th:text="${uneReservation.nbrePersonne}"></td>
            <td th:text="${uneReservation.commentaire}"></td>
            <td th:text="${uneReservation.utilisateur.adresse}"></td>
            <td>
                <div th:each="uneChambre : ${uneReservation.chambres}" th:text="${uneChambre.numero}"></div>
            </td>
            <td>
                <form th:action="@{/delete}" method="get">
                    <input type="hidden" name="id" th:value="${uneReservation.id}"/>
                    <input type="hidden" name="keyword" th:value="${keyword}" />
                    <input type="hidden" name="page" th:value="${currentPage}" />
                    <button onclick="return confirm('Etes vous sur de vouloir supprimer cette reservation?')" class="btn btn-wheat"
                            type="submit">Supprime</button>
                </form>
                <form th:action="@{/admin/reservation/depart}" method="post">
                    <input type="hidden" name="idReservation" th:value="${uneReservation.id}">
                    <button class="btn btn-danger">Signaler Départ</button>
                </form>
                <a th:href="'/editClient?id=' + ${uneReservation.id} + '&keyword=' + ${keyword} + '&page=' + ${currentPage}"
                   class="btn btn-wheat">Modifier</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="pagination">
        <ul>
            <li th:each="i : ${pages}">
                <a th:href="@{'/index?page=' + ${i} + '&keyword=' + ${keyword}}"
                   th:class="${currentPage == i} ? 'active' : ''" th:text="${i + 1}"></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>








