<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Formulaire de Facture</title>
  <!-- Ajoutez ici vos liens vers les fichiers CSS et autres ressources -->
</head>
<body>
<h1>Formulaire de Facture</h1>

<form th:action="@{/facture/save}" method="post">
  <input type="hidden" th:field="*{id}" />

  <label for="numeroFacture">Numéro de Facture:</label>
  <input type="text" id="numeroFacture" name="numeroFacture" th:field="*{numeroFacture}" /><br>

  <label for="dateFacturation">Date de Facturation:</label>
  <input type="date" id="dateFacturation" name="dateFacturation" th:field="*{dateFacturation}" /><br>

  <label for="reservation">Réservation:</label>
  <select id="reservation" name="reservation" th:field="*{reservation.id}">
    <!--  charger les réservations depuis la base de données ici -->
    <!-- <option th:each="reservation : ${reservations}" th:value="${reservation.id}" th:text="${reservation.id}" /> -->
  </select><br>

  <label for="prixChambre">Prix de la Chambre:</label>
  <input type="text" id="prixChambre" name="prixChambre" th:field="*{prixChambre}" /><br>

  <label for="prixPetitDejeuner">Prix du Petit Déjeuner:</label>
  <input type="text" id="prixPetitDejeuner" name="prixPetitDejeuner" th:field="*{prixPetitDejeuner}" /><br>

  <label for="prixExtras">Prix des Extras:</label>
  <input type="text" id="prixExtras" name="prixExtras" th:field="*{prixExtras}" /><br>

  <label for="tva">TVA:</label>
  <input type="text" id="tva" name="tva" th:field="*{tva}" /><br>

  <label for="montantTotal">Montant Total:</label>
  <input type="text" id="montantTotal" name="montantTotal" th:field="*{montantTotal}" /><br>

  <label for="nomClient">Nom du Client:</label>
  <input type="text" id="nomClient" name="nomClient" th:field="*{nomClient}" /><br>

  <label for="prenomClient">Prénom du Client:</label>
  <input type="text" id="prenomClient" name="prenomClient" th:field="*{prenomClient}" /><br>


  <button type="submit">Enregistrer</button>
  <a href="#" th:href="@{/factures}" class="btn btn-secondary">Annuler</a>
</form>

<!-- Ajoutez ici d'autres éléments de votre page, tels que des
